<section class="w-full flex justify-center my-4 sm:my-6 lg:my-8 px-4 sm:px-6 lg:px-8">
  <div class="w-full flex flex-col lg:flex-row items-center max-w-7xl h-auto lg:h-96 p-4 sm:p-6 lg:p-8 rounded-3xl overflow-hidden gap-6
              bg-linear-to-tr from-[#fdd8d9] to-white">
    <div class="max-w-full lg:max-w-[500px] order-2 lg:order-0">
      <h1 class="text-3xl text-[#EE2A2F] font-bold mb-2 sm:text-4xl">Llevamos esperanza, seguridad y bienestar a todo el Perú.</h1>

      <h2 class="text-lg sm:text-xl mb-4 lg:mb-6">Somos tu aliado estratégico para tus envíos, solicita uno ahora.</h2>

      <button
        class="flex items-center gap-1 text-sm text-white py-3 px-5 rounded-3xl bg-[#EE2A2F] hover:cursor-pointer hover:bg-[#ff6267] transition duration-200 ease-in-out">
          Solicitar Envío
          <lucide-icon [img]="ArrowRightIcon" [strokeWidth]="1"></lucide-icon>
      </button>
    </div>

    <div class="w-full lg:w-auto h-auto lg:h-full flex justify-center items-center order-1 lg:order-0">
      <img
        class="max-h-48 lg:max-h-full h-auto w-auto object-contain"
        alt="banner"
        src="assets/images/home-banner.png"
      />
    </div>
  </div>
</section>
